<%- include('../partials/__head.ejs') %>
<%- include('../partials/__navbar.ejs') %>
  <body>

    <div class="container">
        <% if (messages.success) { %>
          <div class="alert alert-info" role="alert">
           <%- messages.success %>
          </div>
        <% } %>
        <h1 class="text-center">Data Alat Tangkap</h1>
        <div class="row">
            <div class="col">
              <a href="/alat_tangkap/create" class="btn btn-sm btn-success">Tambah</a>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama alat tangkap</th>
                        <th colspan="2" scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < data.length; i++){ %>
                            <tr>
                                <th scope="row"><%= (i+1) %></th>
                                <td><%= data[i].nama_alat_tangkap %></td>
                                <td>
                                    <a href="/alat_tangkap/edit/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-warning">Edit</a>
                                    <a href="/alat_tangkap/delete/<%= data[i].id_alat_tangkap %>" class="btn btn-sm btn-danger">Delete</a></td>
                            </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>
            
        </div>

    </div>
  </body>
  <%- include('../partials/__foot.ejs') %>